extends ../layout/page.pug

block head
  title= __('status-list.title')

block content
  .container.wrapper.flex-grow-1
    h1.display-4.fw-bold.mt-4= __('status-list.title')
    a.btn.btn-primary(href="/statuses/new")= __('status-list.create')
    .table-responsive
      table.table.table-borderless.table-striped.mt-5.bg-white
        thead
          tr
            th ID
            th= __('status-list.name')
            th= __('status-list.created_at')
            th= __('user-list.action')
        tbody
          each status in statuses
            tr
              td= status.id
              td= status.name
              td= new Date(status.created_at).toLocaleString(__('local'))
              td
                .d-flex.flex-wrap
                  a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)= __('status-list.edit')
                  form(action=`/statuses/${status.id}`, method="post")
                    input(type="hidden", name="_method", value="delete")
                    input.btn.btn-danger(type="submit", value=__('status-list.delete'))
