extends ../layout/page.pug

block head
  title= __('user-login.title')

block content
  .container.wrapper.flex-grow-1
    h1.display-4.fw-bold.mt-4= __('user-login.title')
    .row.justify-content-center
      .col-12.col-md-8
        .card.shadow-sm
          .card-body.row.p-5
            .col-12.col-md-6.d-flex.align-items-center.justify-content-center
              img.rounded-circle(src="/assets/avatar.jpg", alt="Avatar")
            .col-12.col-md-6.mt-3.mt-mb-0
              form(action="/session", method="post")

                .form-floating.mb-3
                  input.form-control#data_email(
                    name="data[email]"
                    type="email"
                    placeholder=__('user-login.email')
                    value=form.email || ''
                    class={'is-invalid': fieldErrors.email}
                  )
                  label(for="data_email")= __('user-login.email')
                  if fieldErrors.email
                    .invalid-feedback= fieldErrors.email

                .form-floating.mb-3
                  input.form-control#data_password(
                    name="data[password]"
                    type="password"
                    placeholder=__('user-login.password')
                    value=""
                    class={'is-invalid': fieldErrors.password}
                  )
                  label(for="data_password")= __('user-login.password')
                  if fieldErrors.password
                    .invalid-feedback= fieldErrors.password

                input.btn.btn-primary(
                  type="submit"
                  value=__('user-login.submit')
                )
